body {
    background-color: rgb(213, 214, 224);
}
h1 {
    color: #2d303b;
    text-align: center;
    margin-top: 50px;
}
h2 {
    color: #2d303b;
    text-align: center;
    margin-top: 20px;
}
input{
    display: block;
    margin: 0 auto;
    width: 200px;
    padding: 10px;
    text-align: center;
}
label {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #2d303b;
}
button {
    display: block;
    background-color: #2d303b;
    color: rgb(213, 214, 224);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    margin: 20px auto;
}
